<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ユーザー情報一覧</title>
	<link href="/css/list.css" rel="stylesheet">

	<meta charset="utf-8" />
</head>

<body>
	<h1>ユーザー情報一覧</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>名前</th>

				<th>更新日時</th>
				<th>登録日時</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${userlist}" th:object="${user}">

				<td class="center" th:text="*{id}"></td>
				<td th:text="*{name}"></td>


		
<!--				<td class="center" th:text="${#dates.format(user.createDate, 'yyyy/MM/dd')}"></td>-->
				<td class="center" th:text="${user.updateDate}"></td>
				<td class="center" th:text="${user.createDate}"></td>
				<td><a th:href="@{/user/delete/{id}(id=${user.id})}">削除</a></td>
				<td><a th:href="@{/user/update/{id}(id=${user.id})}">編集</a> </td>



			</tr>

		</tbody>
	</table>
	<form action="/user/create" method="post">
		<input type="text" name="name" />
		<button type="submit">作成</button>
	</form>

</body>

</html>